{% extends 'base.html' %}

{% block head %}
    <title>Hello</title>
{% endblock %}

{% block body %}
<div class="alert alert-info alert-dismissible d-flex align-items-center justify-content-around">
    <div><strong>Info!</strong> Create the strongest password you can to place on the Leaderboard</div>
    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration: none; color:black; font-size:20px">X</a>
</div>

<div class="container">
    <h1>Password Generator</h1>
    <p>Enter in a list of words | letters | symbols | numbers and generate your password <strong>HINT:</strong> Do not use family member names and use capital letters</p>
    <form action="/add" method="post">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Word</span>
        <input type="text" class="form-control" id="input" name="word">
        <button class="btn btn-primary add_btn" type="submit" id="add_btn"><i class="fa-solid fa-paper-plane"></i></button>
    </div>
    </form>

    <ul class="list-group mt-5 mb-5" id="word_container">
      <li class="list-group-item disabled" aria-disabled="true"><strong>WORD LIST</strong></li>
      {% for word in word_list %}
      <li class="list-group-item word_list">
        {{word.word}}
        <a href="/delete/{{word.id}}">Remove</a>
      </li>
      {%endfor%}
    </ul>

    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Password Length</span>
      <input type="number" id="typeNumber" name="typeNumber" class="form-control"/>
      <button class="btn btn-primary" type="button" id="button-addon1">Generate</button>
  </div>
</div>

{% endblock %}