{%extends 'base.html'%}

{%block head%}
<title>What is this?</title>
{%endblock%}


{%block body%}
<div class="container-fluid">
    <div class="container text-center">
    <h1>About this project</h1>
    <br>
    <p>This is a project I made for computer science class. I made this project with <strong>Bootstrap</strong>,
        <strong>HTML</strong>,
        <strong>CSS</strong>,
        <strong>Flask</strong>,
        <strong>Python</strong>,
        <strong>Flask_Sqlalchemy</strong>
        <br>
    I learned a lot from this project and had a lot of fun making this website. I also encountered some challenges like questioning if I should do this with javascript or python.
    but after some brainstorming I figured this would be easier to do with python and also because python is my best programming language
    Thank you for checking out my project and have a good day :).
    </p>
    </div>
</div>
{%endblock%}